@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@keyframes spin {
    0% {
        transform: rotate(-50deg);}
    100% {
        transform: rotate(-410deg);
    }
}
body { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}
a, button, .logo {
    cursor: pointer;
}
.span-normal {
    display: block;
}
p strong {
  font-weight: 400;
}
.strong-hapum:hover {
  color: #D97652;
}
.strong-jelly:hover {
  color: pink;
}
p .strong-jelly:hover {
  color: white;
  background-color: pink;
}
.strong-black:hover {
  color: white;
  background-color: black;
}
section, footer {
    padding: 0 300px;
}
.header {
    height: 700px;
    width: 100vw;
    background-color: #F2E9D8;
}
.nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 10px 300px 0;
    background-color: #F2E9D8;
    box-sizing: border-box;
    font-size: 16px;
    z-index: 20;
}
.logo {
    margin-top: 4px;
    width: 105px;
    height: 34px;
}
.menu {
    display: flex;
}
.menu-home, .menu-about, .menu-subscribe {
    margin: 13px 15px 0 0;
    cursor: pointer;
}

.menu-home:hover, .menu-about:hover, .menu-subscribe:hover {
    color: #D97652;
}
.btn-copy {
    border: none;
    color: white;
    background-color: #D97652;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.btn-copy:hover {
    background-color: white;
    color: #D97652;
    border: 3px solid #D97652;
    transition: .2s;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
    overflow: hidden;
}
.open-menu {
  display: none;
}
.drop-menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #263140;
  width: 70vw;
  height: 100vh;
  font-weight: 700;
  color: white;
  font-size: 16px;
  display: none;
}
.menu-close > img {
  margin: 22px 20px 50px 20px;
  width: 50px;
  height: 50px;
  padding: 9px;
  box-sizing: border-box;
}
.drop-menu li+li {
  margin: 0 0 30px 50px ;
}
.drop-menu .btn-copy {
  top: 290px;
}
.tit {
    font-size: 43px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 40px;
}
.sub-tit {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
}

.img-sleeping {
    width: 400px;
    margin-top: 150px;
    transform: rotate(-50deg);
}
.img-sleeping:hover {
    animation-name: spin;
    animation-duration: 12s;
}
main {
    position: relative;
}
.sec-liedown {
    display: flex;
    justify-content: space-between;
}
.img-liedown {
    width: 350px;
    transform: rotate(110deg);
    z-index: -10;
}
.liedowntxt-wrap {
    margin-top: 180px;
}
.liedown-tit {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.liedown-subtxt {
    font-size: 16px;
    line-height: 27px;
}


.btn-up {
    border: 2px solid #D97652;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    background: #FFFFFF;
    opacity: 0.8;
    color: #D97652;
    position: fixed;
    right: 200px;
    bottom: 70px;
    z-index: 10;
}
.btn-up:hover {
    background-color: #D97652;
    color: white;
    transition: .2s;
}

.sec-jelly {
    margin: 50px 0 200px;
}
.jelly-tit {
    font-size: 44px;
    color: #D97652;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.jelly-subtxt {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 90px;
}

.jellyimg-wrap {
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.jellyimg-wrap img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.jellyimg-wrap img:hover {
    width: 250px;
    height: 250px;
    transition: .6s;
}

.sec-subscribe {
    width: 880px;
    height: 200px;
    position: absolute;
    background: #263140;
    z-index: 10;
    bottom: 245px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.subscribe-txtwrap {
    margin: 50px 0px 50px 38px;
}
.subscribe-tit {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 700;
}
.subscribe-subtxt {
    font-size: 12px;
    line-height: 18px;
}

.inp-subscribe {
    width: 340px;
    height: 60px;
    border: none;
    background-color: white;
    margin: 70px 38px 70px 0;
    border-radius: 60px;
    font-size: 14px;
    padding-left: 20px;
    box-sizing: border-box;
}
.btn-subscribe {
    position: absolute;
    right: 43px;
    top: 75px;
    border: none;
    width: 120px;
    height: 50px;
    background-color: #D97652;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 40px;
}
.btn-subscribe:hover {
    background-color: white;
    color: #D97652;
    border: 4px solid #D97652;
    transition: .2s;
}

main::after {
    display: block;
    content: "";
    width: 100vW;
    height: 345px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./images/eyes.png);
    background-position: 0 35%;
    opacity: 0.6;
    z-index: -10;
}
.footer {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-logo {
    width: 150px;
    height: 48px;
}
.instagram {
    width: 20px;
    height: 20px;
}

.subscribe-modal {
    display: none;
    width: 600px;
    background-image: url(./images/modal-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
    padding-top: 196px;
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 25px;
    z-index: 10;
}
.modal-img {
    width: 220px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-55%);
}
.modal-txt {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #D97652;
}
.modal-subtxt {
    font-size: 14px;
    margin-bottom: 38px;
}
.modal-btn {
    border: none;
    background-color: #D97652;
    width: 189px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
}







@media screen and (max-width: 400px) {

  .header {
    height: 802px;
  }
  section, footer {
    padding: 0 30px;
}
  .logo {
      width: 80px;
      height: 25px;
  }
  .spansmall {
    display: block;
  }
  .menu {
      display: none;
  }
  .nav {
      padding: 10px 30px 0;
  }
  .btn-copy {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-wrap {
      display: block;
      padding: 0 30px;
  }
  .open-menu {
    display: block;
    width: 50px;
    height: 50px;
  }
  .open-menuimg {
    width: 32px;
    height: 32px;
    padding: 9px;
  }
  .tit {
      padding-top: 120px;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 50px;
      text-align: center;
  }
  .sub-tit {
      font-size: 16px;
      line-height: 30px;
      text-align: center;
  }
  .img-sleeping {
      width: 250px;
      margin: 35px auto 0;
  }
  main {
      position: relative;
  }
  .sec-liedown {
    display: block;
  }
  .img-liedown {
      margin: 0 auto;
      width: 250px;
      transform: rotate(90deg);
  }
  .liedowntxt-wrap {
      margin-top: 10px;
  }
  .liedown-tit {
    text-align: center;
      font-size: 28px;
  }
  .liedown-subtxt {
    text-align: center;
      line-height: 25px;
  }
  .btn-up {
      right: 10vw;
      bottom: 70px;
  }
  .sec-jelly {
      margin: 100px 0 350px;
  }
  .jelly-tit {
      font-size: 28px;
      line-height: 36px;
  }
  .jelly-subtxt {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 50px;
  }
  .jellyimg-wrap {
      gap: 15px;
      height: 280px;
      overflow-x: scroll;
      
  }
  .jellyimg-wrap img {
      width: 250px;
      height: 250px;
      border-radius: 40px;
  }

  
  .sec-subscribe {
      width: 326px;
      height: 328px;
      bottom: 545px;
      display: block;
      bottom: 300px;
  }
  
  .subscribe-txtwrap {
      margin: 40px 20px 20px 28px;
  }
  .subscribe-tit {
      font-size: 28px;
  }
  .subscribe-subtxt {
      font-weight: 200;
  }
  .inpwrap-subscribe {
    text-align: center;
  }
  .inp-subscribe {
      width: 280px;
      height: 45px;
      margin: 0 auto;
  }
  .btn-subscribe {
      top: 240px;
      transform: translateX(-50%);
  }
  .btn-subscribe:hover {
      background-color: white;
      color: #D97652;
      border: 4px solid #D97652;
      transition: .2s;
  }
  
  main::after {
      display: block;
      content: "";
      width: 100vW;
      height: 345px;
      background-repeat: no-repeat;
      background-size: 300%;
      background-image: url(./images/eyes.png);
      background-position: 0 35%;
      opacity: 0.6;
      z-index: -10;
  }
  .footer {
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .foot-logo {
      width: 100px;
      height: 32px;
  }
  .instagram {
      width: 20px;
      height: 20px;
  }
  
  .subscribe-modal {
      width: 300px;
      height: 300px;
      background-color: #F2E9D8;
      padding-top: 0;
      top: 50%;
      transform: translate(-50%, -50%);
  }
  .modal-img {
      width: 150px;
      top: 20px;
  }
  .modal-txt {
    margin-top: 136px;
      font-size: 24px;
  }
  .modal-subtxt {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 18px;
    }
  .modal-btn {
      width: 180px;
      height: 45px;
      font-size: 15px;
  }
  
}